---
Checks:          '
*,
-abseil*,
-altera*,
-android*,
-bugprone-easily-swappable-parameters,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-non-private-member-variables-in-classes,
-fuchsia-default-arguments-declarations,
-google-default-arguments,
-google-readability-namespace-comments,
-hicpp-braces-around-statements,
-hicpp-uppercase-literal-suffix,
-hicpp-use-auto,
-hicpp-vararg,
-llvmlibc*,
-misc-non-private-member-variables-in-classes,
-misc-no-recursion,
-modernize-use-trailing-return-type,
-readability-magic-numbers,
-hicpp-named-parameter'
AnalyzeTemporaryDtors: false
UseColor: false
FormatStyle:     file
