---
Checks: ' *, -altera*, -abseil*, -bugprone-easily-swappable-parameters, -bugprone-swapped-arguments, -clang-diagnostic-unused-command-line-argument, -cppcoreguidelines-non-private-member-variables-in-classes,-fuchsia-overloaded-operator,-fuchsia-statically-constructed-objects,-readability-identifier-length, -llvmlibc*, -misc-non-private-member-variables-in-classes, -modernize-use-nodiscard,-modernize-use-trailing-return-type, -*default-argument* '
AnalyzeTemporaryDtors: false
WarningsAsErrors: '*'
